body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #0b132a;
  text-decoration: none;
  font-weight: 600;
}

#signup {
  border: 1px solid #f53855;
  margin-left: 30px;
  color: #f53855;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 50px;
}
#top-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  column-gap: 40px;
  color: rgba(79, 86, 101, 1);
  font-weight: 400;
}

main {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.left,
.right {
  width: 50%;
}

.left h1 {
  font-weight: 500;
  font-size: 45px;
}

.left p {
  color: rgba(79, 86, 101, 1);
}
.hero-button {
  background-color: rgba(245, 56, 56, 1);
  color: white;
  border: none;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 50px;
  box-shadow: 0 30px 50px rgba(245, 56, 56, 0.5);
  cursor: pointer;
}

img {
  max-width: 100%;
}

.service-overview {
  display: flex;
  margin-top: 50px;
  box-shadow: 0 100px 100px rgb(231, 231, 231);

  border-radius: 8px;
}

.service-overview i {
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 50%;
  color: red;
}
.one,
.two,
.three {
  flex-basis: 33.33%;
  padding: 50px;
  text-align: center;
  display: flex;
  column-gap: 20px;
}

h4,
p {
  margin: 0;
}
p {
  margin-top: 10px;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  margin-top: 60px;
}

.feature > div {
  flex-basis: 50%;
}

.feature ul {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style: none;
}
.feature i {
  color: green;
  margin-right: 10px;
  font-size: 21px;
}
.feature li {
  margin-bottom: 10px;
}
.pricing {
  margin-top: 100px;
}
.pricing h1,
.pricing p,
.network h1,
.network p {
  text-align: center;
}
.pricing-boxes {
  display: flex;
  column-gap: 50px;
  margin-top: 50px;
}
.box {
  flex-basis: 33.33%;
  height: 560px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
  border: 2px solid #dddddd;
  flex-direction: column;
}
.box.active {
  border: 2px solid red;
}
.box h3 {
  text-align: center;
  font-weight: 500;
}
.box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.box ul li {
  margin-bottom: 20px;
  color: #4f5665;
}
.pricing-button {
  color: red;
  font-weight: bold;
  background-color: white;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 30px;
  border: 2px solid red;
  cursor: pointer;
}
.pricing-button.active {
  border: 2px solid white;
  background-color: red;
  color: white;
}
.network {
  margin-top: 100px;
}

.network img {
  margin-top: 50px;
}
.users {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
footer {
  background-color: #f8f8f8;
}
footer > div {
  display: flex;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  color: #4f5665;
  padding: 200px 0;
}

footer .about {
  flex-basis: 40%;
}
footer .navigation {
  flex-basis: 20%;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 20px;
}
footer ul a {
  font-weight: 400;
  color: #4f5665;
}
.users img {
  height: 60px;
  width: 190px;
}
.newsletter {
  position: relative;
  margin-top: 100px;
}
.newsletter > div {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 50px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 100px #e1e1e1;
}
